body {
    height: 300vh;
}

.exemplo {
    height: 200px;
    width: 200px;
    line-height: 200px;
    color: wheat;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: black;
}

header{
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    color: aquamarine;
}

.exemplo1 {
    background-color: blue;
    position: fixed;
    right: 10px;
    top: 10px;
}

.exemplo2 {
    background-color: green;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exemplo3 {
    background-color: red;
    position: relative;
}

.interno {
    position: sticky;
    transform: translate(50%, 50%);
    bottom: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: gold;
}